body {
  margin-top: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}
p {
  font-family: Roboto;
}
nav .navbar-default {
  background: #ffa500;
  border: 0;
  font-family: Poppins;
}
nav .navbar-brand {
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
}
#showcase h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
#showcase img {
  width: 90%;
  margin-top: 10%;
}
#showcase .showcase-right {
  position: center;
  margin-top: 20%;
}
